.progressWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  padding-right: 48px;
  position: relative;
}
.title {
  font-size: 14px;
  margin-right: 18px;
}
.progress {
  border-radius: 3px;
  background-color: #d8d8d8;
  height: 8px;
  width: 100%;

}
.progressActive {
  height: 100%;
  background-color: #039132;
  border-radius: 5px;
  transition: width 1s ease-in-out;
}
.progressDesc {
  color: #039132;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  right: 0;
  top: 0;
}
@media (min-width: 1366px) {
  .progressWrapper {
    width: 100%;
    margin-top: 60px;
    padding-right: 0;
  }
  .progress {
    height: 30px;
    border-radius: 10px;
  }
  .progressActive {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .progressDesc {
    position: relative;
    color: #fff;
    font-size: 18px;
    z-index: 121;
  }
  .title {
    font-size: 22px;
    margin-right: 54px;
  }
}